*{
    margin: 0;
    padding:0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

 }

  body{

    text-align: center;
    font-family: sans-serif;
 }
 .head{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background-color: #171717;
    position: fixed;
    width: 100%;
    z-index:100;
 }
 
 .navbar{

    display: flex;
    margin-right: 10px;

 }

 .logo{

    margin: 30px;

 }

 .navbar a{

    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
 }

 .navbar a:hover{
    background-color: #D9B26F;
 }

 .header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(img/banner.jpg);
    background-size:cover;
 }
 .title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
 }

 p{

    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;

 }

 .buttom{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px #9DD1F1;
    color: #fff;
    text-decoration: none;
    background: #9DD1F1;
 }

 .buttom:hover{
    background: none;
 }

 .content{
    height: 50vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
 }
 .sau{
    padding: 50px 0;
    background-color: #303030;
 }

 .box-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
 }
 .box-container .box{
    height: 170px;
    width: 270px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0,0.3);
    margin: 20px;
 }
 
 .box-container .box h3{
    font-size: 20px;
    color: #4A6C6F;
 }

 .box-container .box p{
    padding: 0 15px;
    font-size: 16px;
 }

 .about{
    background-color: #303030;
    padding: 50px 0;
 }

 .box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
 }

 .box-container2 .box{
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0,0.3);
    background: #171717;
    margin: 20px 20px;
 }

 .footer{
    padding: 50px 0;
    background: #171717;
 }

